$color-palette: (
  "first": #333333,
  "second": #797979,
  "third": #c1c1c1,
  "fourth": #FAFAFA,
  "fifth": #FFFFFF,
);

@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($gap, $autoflow, $autorows, $mincolumns, $maxcolumns, $aling, $justify) {
  display: grid;
  gap: $gap;
  grid-auto-flow: $autoflow;
  grid-auto-rows: $autorows;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, $mincolumns), $maxcolumns));
  place-items: $aling $justify;
}

@mixin cursor() {
  color: map-get($map: $color-palette, $key: second);
  cursor: pointer;
}

@mixin cover() {
  width: 100%;
  height: 100%;
}

@mixin fullScreen() {
  width: 100vw;
  height: 100vh;
}

@mixin coverWidth {
  width: 100%;
  height: fit-content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  &::selection {
    background-color: map-get($map: $color-palette, $key: first);
    color: map-get($map: $color-palette, $key: fifth);
    text-shadow: 1px 1px map-get($map: $color-palette, $key: second)
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px map-get($map: $color-palette, $key: first);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: map-get($map: $color-palette, $key: first);
    border-radius: 2px;

    &:hover {
      background: map-get($map: $color-palette, $key: fourth);
    }
  }

}

body,
.Hawksbill,
#root {
  @include fullScreen();
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: map-get($map: $color-palette, $key: second);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reusable {
  @include coverWidth();

  &__label {
    @include flex(column, nowrap, center, start);

    &-text {
      padding-left: 10px;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: map-get($map: $color-palette, $key: first);
      user-select: none;

      &--hyperlink {
        font-size: 13px;
        line-height: 18px;
        padding: 0px;

        &:hover,
        &:active {
          @include cursor();
        }
      }
    }
  }

  &__input {
    @include coverWidth();
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: map-get($map: $color-palette, $key: first);
    border: none;
    border-bottom: 1px solid map-get($map: $color-palette, $key: second);
    padding: 10px;
    margin-bottom: 20px;

    &:focus-visible {
      outline: none;
      border-bottom: 2px solid map-get($map: $color-palette, $key: first);
    }

    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: map-get($map: $color-palette, $key: second);
    }
  }

  &__button {
    @include flex(row, nowrap, center, center);
    @include coverWidth();
  }

  &__primary-button {
    width: fit-content;
    height: 30px;
    min-width: 150px;
    border: none;
    background: map-get($map: $color-palette, $key: first);
    color: map-get($map: $color-palette, $key: fifth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    &:hover,
    &:active {
      cursor: pointer;
      color: map-get($map: $color-palette, $key: first);
      background: map-get($map: $color-palette, $key: second);
    }

    &:disabled {
      background: map-get($map: $color-palette, $key: fourth);
      color: map-get($map: $color-palette, $key: first);
      border: 1px solid map-get($map: $color-palette, $key: first);
      cursor: not-allowed;
    }
  }

  &__icon {
    @include cover();
  }
}

.login {
  @include flex(row, nowrap, center, center);
  @include fullScreen();
  padding: 10px;
  overflow: auto;

  &__container {
    @include flex(column, nowrap, space-between, center);
    @include cover();
    min-width: 340px;
    max-width: 488px;
    min-height: 580px;
    max-height: 788px;
    background: map-get($map: $color-palette, $key: fifth);
    border: 1px solid map-get($map: $color-palette, $key: fourth);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(40px);
    border-radius: 15px;
    padding: 30px;
    overflow: hidden;

    @media (max-width: 359px) {
      width: 340px;
    }

    @media (max-height: 599px) {
      height: 580px;
    }
  }

  &__logo {
    width: 29.41%;
    height: 15.37%;
    min-width: 100px;
    max-width: 152px;
    min-height: 89.1px;
    max-height: 135.3px;

    @media (max-width: 359px) {
      width: 100px;
    }

    @media (max-height: 599px) {
      height: 89.1px;
    }
  }

  &__slide {
    @include flex(row, nowrap, space-between, center);
    @include coverWidth();
    overflow: hidden;
    transition: transform 0.25s;

    &--displace {
      transform: translateX(100vw)
    }
  }

  &__form-container {
    @include flex(column, nowrap, space-between, start);
    @include coverWidth();
    min-width: 280px;
    max-width: 428px;
    min-height: 335px;
    max-height: 400px;
  }

  &__form {
    @include coverWidth();
  }

  &__options {
    @include flex(column, nowrap, space-between, start);
    width: fit-content;
    height: 46px;
  }

  &__question {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: map-get($map: $color-palette, $key: first);
    user-select: none;
  }

  &__social-network {
    @include flex(row, nowrap, space-between, center);
    width: 210px;
    height: 40px;
    padding: 10px;
  }

  &__hyperlink {
    color: map-get($map: $color-palette, $key: first);
    height: 100%;
    width: fit-content;

    &:hover,
    &:active {
      @include cursor();
    }
  }

  @media (max-width: 359px) {
    width: fit-content;
  }

  @media (max-height: 599px) {
    height: fit-content;
  }
}

.adminlayout {
  @include cover();
  background: map-get($map: $color-palette, $key: fourth)
}

.header {
  @include flex(row, nowrap, space-between, center);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 14px 24px;
  width: 100vw;
  height: 80px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: map-get($map: $color-palette, $key: fourth);
  z-index: 1000;

  &__toggle-button-silhouette {
    height: 32px;
    width: 32px;
    display: none;

    @media (max-width: 799px) {
      display: block;
    }
  }

  &__logo {
    width: auto;
    height: 5.33%;
    min-width: 144.37px;
    max-width: 234.59px;
    min-height: 32px;
    max-height: 52px;

    @media (max-width: 799px) {
      width: 30.10%;
    }

    @media (max-width: 359px) {
      width: 144.37px;
    }

    @media (max-height: 599px) {
      height: 32px;
    }
  }

  &__right-side {
    @include flex(row, nowrap, center, center);
  }

  &__chat-icon {
    width: 18px;
    height: 18px;
    color: map-get($map: $color-palette, $key: first);

    &:hover,
    &:active {
      @include cursor();
    }
  }

  &__profile {
    @include flex(row, nowrap, space-between, center);
    user-select: none;
    color: map-get($map: $color-palette, $key: first);

    &-detail {
      @include flex(column, nowrap, space-between, end);
      margin-left: 45px;
    }

    &-username {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
    }

    &-position {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }

    &-image {
      width: 52px;
      height: 52px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      background-size: cover;
      margin-left: 32px;

      &:hover,
      &:active {
        box-shadow: unset;
        cursor: pointer;
      }
    }

    @media (max-width: 799px) {
      display: none;
    }
  }

  @media (max-width: 799px) {
    padding: 34px 40px;
    height: 100px;
    box-shadow: unset;
    z-index: 0;
  }
}

.side-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 172px;
  width: 80px;
  overflow: hidden;
  transition: width 0.5s;
  background: map-get($map: $color-palette, $key: fourth);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 0;

  @media (max-width: 799px) {
    padding-top: 100px;
    width: 0px;
  }

  &__toggle-button {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 1px solid map-get($map: $color-palette, $key: second);
    background: map-get($map: $color-palette, $key: fourth);
    border-radius: 10px;
    color: map-get($map: $color-palette, $key: first);
    position: fixed;
    top: 120px;
    left: 64px;
    transition: transform 0.5s;

    &--open-menu {
      transform: translateX(240px);

      @media (max-width: 799px) {
        transform: translateX(calc(100vw - 112px));
      }
    }

    &:hover,
    &:active {
      @include cursor();
    }

    @media (max-width: 799px) {
      width: 32px;
      height: 32px;
      padding: 0px;
      top: 34px;
      left: 40px;
      border: unset;
      background: unset;
      border-radius: unset;
    }
  }

  &__navbar {
    @include flex(column, nowrap, space-between, start);
    width: 100%;
    height: calc(100vh - 172px);
    padding: 0px 14px 14px 14px;
    overflow-y: scroll;

    &-list {
      @include coverWidth();
      overflow: hidden;
    }

    @media (max-width: 799px) {
      height: calc(100vh - 100px);
    }
  }

  &__item {
    width: 100%;
    height: 52px;
    min-width: 52px;
    border-radius: 10px;
    overflow: hidden;
    color: map-get($map: $color-palette, $key: first);

    &-destination {
      @include cover();
      max-height: 52px;
      display: block;
      padding: 15px;
      color: map-get($map: $color-palette, $key: first);

      &:hover,
      &:active {
        background: map-get($map: $color-palette, $key: third);
        cursor: pointer;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: 22px auto;
      gap: 12px;
      overflow: hidden;
    }

    &-detail {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      user-select: none;
      text-overflow: clip;
      overflow: hidden;
      white-space: pre;
    }

    &-icon {
      width: 22px;
      height: 22px;
    }

    &-sublist {
      height: 0px;
      margin-left: 26px;
      padding-left: 26px;
      border-left: solid 1px map-get($map: $color-palette, $key: third);
      overflow: hidden;
    }
  }

  &--open-menu {
    width: 320px;

    @media (max-width: 799px) {
      width: 100%;
      z-index: 1000;
    }
  }
}